@model interlibros.Models.MainPageViewModel

@{
    ViewBag.Title = "InterLibros - Inicio";
}
<div class="col-sm-3">
    <div class="left-sidebar">
        <h2>Categorías</h2>
        <div class="panel-group category-products" id="accordian">
            <!--category-productsr-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="?"><span class="pull-right">(@Html.Raw(Model.libros.Count()))</span> Todas</a></h4>
                </div>
            </div>
            @foreach (var cat in Model.categorias)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a href="?categoria=@Html.DisplayFor(x => cat.id)"><span class="pull-right">(@Html.DisplayFor(x => cat.Libros.Count))</span> @Html.DisplayFor(x => cat.Nombre)</a></h4>
                    </div>
                </div>
            }
            
        </div><!--/category-products-->

        <div class="brands_products">
            <!--brands_products-->
            <h2>Librerías</h2>
            <div class="brands-name">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="?"> <span class="pull-right">(@Html.Raw(Model.libros.Count()))</span>Todas</a></li>
                    @foreach (var lib in Model.librerias)
                    {
                        <li><a href="?libreria=@Html.DisplayFor(x => lib.id)"> <span class="pull-right">(@Html.DisplayFor(x => lib.Libros.Count))</span>@Html.DisplayFor(x => lib.Nombre)</a></li>
                    }
                </ul>
            </div>
        </div><!--/brands_products-->
    </div>
</div>


<div class="col-md-9 padding-right">
    <div class="row">
        <div class="col-sm-3">
            <div class="search_box pull-right">
                <input type="text" placeholder="Buscar" />
            </div>
        </div>
    </div>
    <div class="features_items">
        <!--features_items-->
        <h2 class="title text-center">Libros Disponibles</h2>

        @foreach (var item in Model.ResLibros)
        {
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="@Html.DisplayFor(modelItem => item.ImgUrl)" alt="" />
                            <h2>₡@Html.DisplayFor(modelItem => item.Precio)</h2>
                            <p><a href="#">@Html.ActionLink(item.Titulo, "Details", "Libros", new { id = item.id }, null)</a></p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div><!--features_items-->
</div>
