@model interlibros.Models.Libros

@{
    ViewBag.Title = @Model.Titulo + " - InterLibros";
}

<div class="row">
    <div class="col-sm-12 padding-right">
        <div class="product-details">
            <!--product-details-->
            <div class="col-sm-5">
                <div class="view-product">
                    <img src="@Html.DisplayFor(model => model.ImgUrl)" alt="" />
                </div>

            </div>
            <div class="col-sm-7">
                <div class="product-information">
                    <!--/product-information-->
                    <h2>@Html.DisplayFor(model => model.Titulo)</h2>
                    <p>Web ID: @Html.DisplayFor(model => model.id)</p>
                    <span>
                        <span>CRC ₡@Html.DisplayFor(model => model.Precio)</span>
                        <label>Cantidad:</label>
                        <input type="text" value="1" />
                        <button type="button" class="btn btn-fefault cart">
                            <i class="fa fa-shopping-cart"></i>
                            Añadir al carro
                        </button>
                    </span>
                    <p><b>Disponibilidad:</b> En inventario</p>
                    <p><b>Condición:</b> @Html.DisplayFor(model => model.Condicion)/10</p>
                    <p><b>Tienda:</b> @Html.ActionLink(Model.Librerias.Nombre, "Details", "Librerias", new { id = Model.Librerias.id }, null)</p>
                </div><!--/product-information-->
            </div>
        </div><!--/product-details-->

        <div class="category-tab shop-details-tab">
            <!--category-tab-->
            <div class="col-sm-12">
                <ul class="nav nav-tabs">
                    <li><a href="#details" data-toggle="tab">Detalles</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="details">
                    <div class="col-sm-6">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo">
                                    <h3>Descripción</h3>
                                    <p>@Html.DisplayFor(model => model.Descripcion)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo">
                                    <h3>Sobre la librería:</h3>
                                    <p><strong>Nombre:</strong> @Html.DisplayFor(model => model.Librerias.Nombre)</p>
                                    <p><strong>Ubicación:</strong> @Html.DisplayFor(model => model.Librerias.Direccion)</p>
                                </div>
                                <hr />
                                <div class="productinfo">
                                    <h3>Categorías</h3>
                                    @foreach(var c in Model.Categorias)
                                    {
                                        <h4>@c.Nombre</h4>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/category-tab-->

    </div>
</div>
